<!DOCTYPE html>
<html>
<head>
    <title>Offset Distance Calculator</title>
</head>
<body>

<h2>Enter Parameters</h2>

<form action="/" method="post">
    <label for="maxDistance">Max Distance:</label><br>
    <input type="text" id="maxDistance" name="maxDistance"><br><br>

    <label for="desired_offset_distance">Desired Offset Distance:</label><br>
    <input type="text" id="desired_offset_distance" name="desired_offset_distance"><br><br>

    <label for="distance_values">Distance Values (comma separated):</label><br>
    <input type="text" id="distance_values" name="distance_values"><br><br>

    <input type="submit" value="Calculate">
</form>

</body>
</html>

